<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'base/header.html' %}

<body data-type="widgets">

   {% include 'base/body.html' %}
   {% include 'base/menu.html' %}

    <div class="tpl-content-wrapper">
        <div class="widget am-fr">
            <div class="widget-head am-cf">
                <ol class="am-breadcrumb">
                  <li><a href="{% url 'index' %}" class="am-icon-home">首页</a></li>
                  <li><a href="{% url 'users' %}">账号设置</a></li>
                  <li class="am-active">修改密码</li>
                </ol>
            </div>
            <div class="widget-body  am-fr">
                <form class="am-form tpl-form-border-form tpl-form-border-br" method="post" action="{% url 'gusetting' %}">
                    {% csrf_token %}
                    <div class="widget-head am-fl">修改密码信息</div>
                    <fieldset>
                        <div class="am-form-group am-u-md-12">
                            {{ changepwdform.as_p }}
                        </div>
                    </fieldset>
                    <div class="am-form-group">
                        {% if status == 'success' %}
                            <span style="color: #00a23f">密码修改成功</span>
                        {% elif status == 'failed' %}
                            <span style="color: #cf2d27">密码修改失败</span>
                        {% elif status == 'error' %}
                            <span style="color: #cf2d27">密码修改失败，请检查数据是否验证通过</span>
                        {% endif %}
                    </div>
                    <div class="am-form-group am-pagination-centered">
                        <a href="{% url 'index' %}" id="cancle_button" role="button" class="am-btn am-btn-secondary">取消</a>
                        <button id="submit_button" type="submit" class="am-btn am-btn-success">修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'base/footer.html' %}
</body>
</html>